<style>
  .cart__item p {
    margin: 0 0 5px;
  }

  .cart__item .newf {
    font-size: 14px;
  }

  .drawer__scrollable {
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
    padding-top: var(--drawer-gutter);
  }
</style>



<script id="CartTemplate" type="text/template">
  {% raw %}
    <div class="drawer__scrollable">
      {{#items}}
        <div class="ajaxcart__product cart__item">
          <div class="grid ">
            <div class="grid__item one-third " style="padding:10px;">
              <a href="{{url}}" class="ajaxcart__product-image ">
                <img src="{{img}}" alt="{{name}}">
              </a>
            </div>
            <div class="grid__item two-thirds " style="padding:10px;">
 
              <p class="ajaxcart__product-name">{{ name }}</p>
  
              {{#if variation}}
                <p class="ajaxcart__product-variation newf">{{ variation }}</p>
              {{/if}}
              <a href="/cart/change?line=1&amp;quantity=0" class=""style="    position: absolute;top: 13px;
    right: 10px;">
                        <img width="10"src="https://cdn.shopify.com/s/files/1/0773/3870/6204/files/cross.svg?v=1703488519" alt="">
              
                        </a>  
              
              <p class="ajaxcart__product-quantity newf">Quantity: <span style="border: 1px solid;    padding: 1px;"> <button onclick="updateQuantity('{{ item.key }}', 'decrease')" style="border-right: 3px solid;">-</button> <input style="border: none; padding: 0; font-weight: 100;max-width: 40px;" 
                type="text" 
                name="updates[]" 
                id="updates_{{ item.key }}" 
                class="cart__product-qty" 
                value="{{ itemQty }}" 
                min="0" 
                data-id="{{ item.key }}">
         <button onclick="updateQuantity('{{ item.key }}', 'increase')" style="border-left: 1px solid;">+</button></span></p>
              <p class="ajaxcart__product-price">{{ price }}</p>
              {{#if properties}}
                <div class="ajaxcart__product-properties">
                  {{#each properties}}
                    {{#if this}}
                      <p class="ajaxcart__product-property">{{ @key }}: {{ this }}</p>
                    {{/if}}
                  {{/each}}
                </div>
              {{/if}}
              {{#if discountsApplied}}
                <div class="ajaxcart__product-discounts">
                  {{#each discounts}}
                    <p class="ajaxcart__discount">{{ this.discount_application.title }} (-{{ this.formattedAmount }})</p>
                  {{/each}}
                </div>
              {{/if}}
              {{#if unitBase}}
                <div class="ajaxcart__product-unit-price">
                  <p>{{ unitPrice }}/{{ unitBase }}</p>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/items}}

      <div class="drawer__footer appear-animation appear-delay-{{lastAnimationRow}}" style="padding:20px 15px;">
        {{#if cartDiscountsApplied}}
          <div class="ajaxcart__cart-discounts">
            {{#each cartDiscounts}}
              <p class="ajaxcart__cart-discount">{{ this.title }} (-{{ this.formattedAmount }})</p>
            {{/each}}
          </div>
        {{/if}}
  <div class="cart__item-sub cart__item-row" style="display:flex;justify-content: space-between;">
            <div class="ajaxcart__subtotal">Subtotal</div>
            <div data-subtotal="">{{ totalPrice }}</div>
          </div>
        

        <button type="submit" class="btn btn--full cart__checkout spr-button" style=" margin-top: 30px;background: #193f48;">Checkout</button>
      </div>
    </div>
  {% endraw %}
</script>