<style>
  .cart__item p {
    margin: 0 0 5px;
  }

  .cart__item .newf {
    font-size: 12px;
  }
</style>



<script id="CartTemplate" type="text/template">
  {% raw %}
    <div class="drawer__scrollable">
      {{#items}}
        <div class="ajaxcart__product cart__item">
          <div class="grid ">
            <div class="grid__item one-third " style="padding:10px;">
              <a href="{{url}}" class="ajaxcart__product-image ">
                <img src="{{img}}" alt="{{name}}">
              </a>
            </div>
            <div class="grid__item two-thirds " style="padding:10px;">
  <div class="cart__item-title ajaxcart__product-name">
      <a href="{{url}}" class="cart__item-name">
      {{ name }}
      </a>
      {{#if variation}}
      <div class="cart__item--variants">{{ variation }}</div>
      {{/if}}
      <div class="cart__item--variants">Quantity: {{ itemQty }}</div>
    </div>
             
             
              <p class="ajaxcart__product-price">{{ price }}</p>
              {{#if properties}}
                <div class="ajaxcart__product-properties">
                  {{#each properties}}
                    {{#if this}}
                      <p class="ajaxcart__product-property">{{ @key }}: {{ this }}</p>
                    {{/if}}
                  {{/each}}
                </div>
              {{/if}}
              {{#if discountsApplied}}
                <div class="ajaxcart__product-discounts">
                  {{#each discounts}}
                    <p class="ajaxcart__discount">{{ this.discount_application.title }} (-{{ this.formattedAmount }})</p>
                  {{/each}}
                </div>
              {{/if}}
              {{#if unitBase}}
                <div class="ajaxcart__product-unit-price">
                  <p>{{ unitPrice }}/{{ unitBase }}</p>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/items}}

      <div class="drawer__footer appear-animation appear-delay-{{lastAnimationRow}}">
        {{#if cartDiscountsApplied}}
          <div class="ajaxcart__cart-discounts">
            {{#each cartDiscounts}}
              <p class="ajaxcart__cart-discount">{{ this.title }} (-{{ this.formattedAmount }})</p>
            {{/each}}
          </div>
        {{/if}}
        <p class="ajaxcart__subtotal">Total: {{ totalPrice }}</p>

        <button type="submit" class="btn btn--full cart__checkout">Checkout</button>
      </div>
    </div>
  {% endraw %}
</script>