
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{%- assign featured_media = product.selected_or_first_available_variant.featured_media
| default: product.featured_media
-%}



<style>
  #AddToCartText-8809841525020 {
    font-size: 22px;
  }

  #custom_add {
    font-size: 22px;
  }

  .col-md-6 {
    max-width: 50%;
    width: 100%;
  }
.col-md-4 {
    max-width: 43%;
    width: 100%;
  }
  .col-md-3 {
    max-width: 33%;
    width: 100%;
  }
  .mm1{
        margin: 0 -13%;
  }
  .splide__arrows{
    display: none;
  }
  @media screen and (max-width: 768px) {
     .mm1{
        margin: 0 -11% !important;
  }
    #custom_buy{
      font-size: 15px !important;
    }
  }
</style>

  <div class="custom_butt1 ">
    <div class="row" style="display: flex;align-items: center;max-width: 90%;margin: auto;    justify-content: space-around;">
      <div class="col-md-6 row small--hide" style="display: flex;align-items: center;">
        <div class="col-md-6 small--hide" style="display:flex;align-items: center;">
          {%- assign hasRun = false -%}

          {%- for image in product.images -%}
          {%- if hasRun == false -%}
          <div class="image-grid-item" style="width:100px;">
            <img src="{{ image | img_url: '100x100' }}" alt="{{ product.title }} - Image">
          </div>
          {%- assign hasRun = true -%}
          {%- endif -%}
          {%- endfor -%}
          <p class="h2 product-single__title" style="font-size:18px;">
            {{ product.title }}<br><br>

            <span id="ProductPrice-{{ section_id }}"
              class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}"
              style="font-size:16px;">
              {{ current_variant.price | money }}
            </span>
          </p>
        </div>

        <div class="col-md-6 ">
          <p class="h2 product-single__title">

          </p>
        </div>
      </div>
      <div class="col-md-4 col-12">

        <div class="payment-buttons p11" style="width: 100%;">
          <button type="btn" id="custom_add" class="btn btn--full add-to-cart btn--secondary col-61">
            <span> Add to cart </span>
          </button>

          <div class="shopify-payment-button col-6">
            <button type="button" id="custom_buy"
              class="shopify-payment-button__button shopify-payment-button__button--unbranded ">
              Buy it now</button>


          </div>
        </div>

      </div>

    </div>
  </div>




<style>
                    .swiper {
                       width: 500px;margin: auto;
                        height: 100%;
                        
                    }
                    .im1 img{
                        height: 100%;
                    }
                    @media only screen and (max-width: 589px) {
                    .swiper {
        width: 500px !important;
      
    }}
                </style>


{%- unless product.empty? -%}

<div class=" mm1" style="">

 
  
                
                    <div class="swiper sp1">
                        <div class="swiper-wrapper">
                            <!-- Slides -->{%- for image in product.images -%}
                            <div class="swiper-slide">
                               
        <img src="{{ image | img_url: 'original' }}" alt="{{ product.title }} - Image"
            width="100%">
        
                               
                            </div>
                            {%- endfor -%} 
                            <!-- Add more slides as needed -->
                        </div>
                       <div class="swiper-scrollbar " "></div>
                        
                       
                    </div>

</div>

<script type="application/json" id="ModelJson-{{ section_id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- else -%}
<div class="product__photos product__photos-{{ section_id }}">
  <div class="product__main-photos" style="width: 100%">
    <div id="ProductPhotos-{{ section_id }}">
      <div data-index="{{ forloop.index0 }}">
        <a href="#">
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </a>
      </div>
    </div>
  </div>
</div>
{%- endunless -%}

 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper', {
    
           
    
    scrollbar: {
        el: '.swiper-scrollbar',
        draggable: true,
        dragSize: 100
      }
            // And if we need scrollbar
           
        });
        </script>